body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header CSS */
.top{
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    gap: 16px;
    list-style: none;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;

}

.logo{
    font: bold 24px Helvetica;
    display: flex;
    align-items: center;
    margin: 0;
}

/*----------------------------------------------*/

/* Header-Bottom CSS */

.header-bottom{
    display: flex;
    justify-content:center;
    padding: 100px;
    gap: 100px;
}

.square{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
}

.h-left{
    font-size: 48px;
    font-weight: bolder;
}

.h-left-2{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

button{
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    padding: 10px 20px;

}

.image-1{
    background-color: lightgray;
    color: black;
    height: 225px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------------------------------*/

/* Middle-1 CSS */

.middle-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 25px;
}

.info{
    font: bold 36px Helvetica;
}

#middle-list-1{
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    gap: 50px;
    text-align: center;
}

.image2{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: 5px solid #3882f6;
}


/*----------------------------------------------*/