body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header CSS */
.top{
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    gap: 16px;
    list-style: none;
}

a{
    text-decoration: none;
    color: #e5e7eb;

}

.logo{
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
}

/*----------------------------------------------*/

/* Header-Bottom CSS */

.header-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.square{
    display: flex;
    flex-direction: column;
    max-width: 350px;


}

.h-left{
    font-size: 48px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-1{
    background-color: #eee;
    display: flex;
    height: 180px;
    margin: 100px;
    width: 450px;

}
/*----------------------------------------------*/

